@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Staatliches&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color1: #264653;
    --color2: #2a9d8f;
    --color3: #e9c46a;
    --color4: #f4a261;
    --color5: #e76f51;

    --font1: 'Roboto Slab', serif;;
    --font2: 'Staatliches', cursive;;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font2);
    color: black;
}

p{
    font-family: var(--font1);
    color: black;
}

button, .button, .btn {
    color: black;
}

.main-content{
    display: none;
}

.onTop {
    z-index: 2;
}

.name-area {
    text-align: center;
    width: 20em;
    min-height: 210px;
    border: 2px solid var(--color3);
    border-radius: 10px;
}

.name-area h2 {
    height: 100px;
}

.splashScreen {
    height: 100vh;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
}

.small-title{
    position: sticky;
    top: 0;
}

.bgImg-1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/code-wallpaper-10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(70%);
    z-index: 0;
}

.menuBtn {
    color: white;
}

.navMenu {
    width: 100%;
    z-index: 2;
}

.nav-img {
    height: 150px;
    width: 170px;
    border-radius: 50%;
    border: 2px solid black;
    backdrop-filter: blur(1px);
}

.navbar {
    margin: 1em;
    align-items: center;
    color: white;
    list-style-type: none;
    z-index: 2;
}

.subtitle{
    padding: 1em;
    text-align: center;
    background: var(--color3);
    border: 2px solid black;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1em;
    overflow: auto;
    border: 2px solid black;
}

.card::-webkit-scrollbar{
    display: none;
}

.about-me-img {
    height: 100%;
}

.fit-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-box {
    width: 90%;
}

.menu-container {
    position: relative;
}

.my-container {
    padding: 0;
}

.side-menu-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.side-menu{
    position: absolute;
    top: 0px;
    left: -200px;
    padding: 10px;
    height: 100vh;
    width: 40vw;
    z-index: 9;
}

.side-menu-open {
    left: 0px;
    animation-name: side-menu-open;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.corban-img {
    object-fit: contain;
    background: white;
}

.disclaimer{
    padding: 10px;
    position: fixed;
    bottom: 30px;
    width: 60%;
    border-radius: 10px;
    border: 2px solid var(--color3);
    text-align: center;
    background: var(--color5);
}

.disclaimer p {
    margin: 0;
    padding: 0;
}

@keyframes side-menu-open {
    0% {left: -200px}
    100% {left: 0px}
}

.side-menu-close {
    left: 0px;
    animation-name: side-menu-close;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes side-menu-close {
    0% {left: 0px}
    100% {left: -200px}
}

.expand-on-hover{
    transition: all .2s ease-in-out;
}
.expand-on-hover:hover{
    transform: scale(1.1);
}

