<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
        name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Skeleton CDN -->
        <link
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous"/>
        <!-- JQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <!-- Local JS -->
        <script src="../js/script.js"></script>
        <!-- Local CSS -->
        <link rel="stylesheet" href="../css/my_framework.css">
        <link rel="stylesheet" href="../css/style.css">
        <title>Tyler Thibault</title>
    </head>

    <body>
        <div
            class="my-container my-color-1">

            <!-- NavMenu slide-out -->
            <div class="my-size-sm side-menu-container">
                <div class="side-menu my-color-1 my-border-2" data-status="close">
                    <span class="menuBtn">&#9747</span>
                    <div class="my-dflex-col my-justify-between my-full-height">

                        <ul class="navbar">
                            <li>
                                <a href="#projects" class="button my-w2 my-p-0">Projects</a>
                            </li>
                            <li>
                                <a href="#education" class="button my-w2 my-p-0">Education</a>
                            </li>
                            <li>
                                <a href="./contactMe.html" class="button my-w2 my-p-0">Contact Me</a>
                            </li>
                            <li>
                                <button class="colorMode my-w2 my-p-0">Light Mode</button>
                            </li>
                            <li>
                                <a href="../templates/contactMe.html" class="button my-w2 my-p-0 my-color-5 my-txt-color-white">Contact Me</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- header -->
            <div class="row title my-border-2">

                <div class="bgImg-1"></div>
                <!-- screen small -->
                <div class="navMenu my-size-sm small-title">
                    <div class="my-dflex my-justify-between my-mrl-3 my-align-center">
                        <span class="menuBtn my-txt-color-3">&#9776</span>
                        <h3 class="my-m-0">
                            <a href="../index.html" class="my-no-aTag my-txt-color-3">Tyler Thibault</a>
                        </h3>
                    </div>
                </div>

                <!-- screen med & lrg -->
                <div class="navMenu my-size-md my-size-lg my-mt-4 my-mrl-4">
                    <ul class="my-dflex my-justify-between my-align-center my-navMenu">
                        <li>
                            <ul class="my-navMenu my-ml-2">
                                <li>
                                    <a class="my-w3 button" href="#projects">Projects</a>
                                </li>
                                <li>
                                    <a class="my-w3 button" href="#education">Education</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="https://tbone8098.github.io/uw-portfolio"><img class="nav-img expand-on-hover" src="../img/meandkendal.png" alt="Kendal and I"></a>
                        </li>
                        <li class="my-dflex-col my-align-center">
                            <ul class="my-navMenu my-mr-2">
                                <li>
                                    <button class="my-w3 colorMode">Light Mode</>
                                </li>
                                <li>
                                    <a class="my-w3 button" href="/templates/contactMe.html">Contact Me</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- tech and about me -->
            <div
                class="about-me my-dflex-col my-align-center my-justify-center">

                <!-- screen small -->
                <div class="row my-size-sm">
                    <div class="card my-color-2">
                        <h3>Technologies</h3>
                        <div class="tech-imgs my-dflex my-wrap my-justify-center">
                            <img class="expand-on-hover" src="../img/Technologies/css.png" alt="css icon">
                            <img class="expand-on-hover" src="../img/Technologies/django.png" alt="css icon">
                            <img class="expand-on-hover" src="../img/Technologies/express.png" alt="css icon">
                            <img class="expand-on-hover" src="../img/Technologies/flask.png" alt="css icon">
                            <img class="expand-on-hover" src="../img/Technologies/git.png" alt="css icon">
                            <img class="expand-on-hover" src="../img/Technologies/html.png" alt="css icon">
                            <img class="expand-on-hover" src="../img/Technologies/jquery.png" alt="css icon">
                            <img class="expand-on-hover" src="../img/Technologies/js.png" alt="css icon">
                            <img class="expand-on-hover" src="../img/Technologies/mongo.png" alt="css icon">
                            <img class="expand-on-hover" src="../img/Technologies/mysql.png" alt="css icon">
                            <img class="expand-on-hover" src="../img/Technologies/net_icon.png" alt="css icon">
                            <img class="expand-on-hover" src="../img/Technologies/nodejs.png" alt="css icon">
                            <img class="expand-on-hover" src="../img/Technologies/python.png" alt="css icon">
                            <img class="expand-on-hover" src="../img/Technologies/reaact.png" alt="css icon"></div>
                    </div>


                    <div class="card my-color-4 my-mt-3">
                        <h4>About Me</h4>
                        <p>A bit about me, I grew up in Cashmere WA, the youngest of 3 children. When I was a child my family moved over to Indonesia to work as teachers at an international school there. Living there for 3 years layed some fundamentals of who I am today. For instance, my willingness to travel and explore the world as well as my intercultural understanding.
                        </p>
                        <a class="button my-border-1" href="../templates/aboutMe.html">Read More</a>
                    </div>
                </div>

                <!-- screen med & lrg -->
                <div class="row my-size-md my-size-lg">
                    <div class="three columns card my-color-2 my-h4">
                        <h4>Technologies</h4>
                        <div class="tech-imgs my-dflex my-wrap my-justify-center">
                            <img class="expand-on-hover" src="../img/Technologies/css.png" alt="css icon" title="CSS">
                            <img class="expand-on-hover" src="../img/Technologies/django.png" alt="css icon" title="Django">
                            <img class="expand-on-hover" src="../img/Technologies/express.png" alt="css icon" title="Express">
                            <img class="expand-on-hover" src="../img/Technologies/flask.png" alt="css icon" title="Flask">
                            <img class="expand-on-hover" src="../img/Technologies/git.png" alt="css icon" title="Git">
                            <img class="expand-on-hover" src="../img/Technologies/html.png" alt="css icon" title="HTML">
                            <img class="expand-on-hover" src="../img/Technologies/jquery.png" alt="css icon" title="Jquery">
                            <img class="expand-on-hover" src="../img/Technologies/js.png" alt="css icon" title="JavaScript">
                            <img class="expand-on-hover" src="../img/Technologies/mongo.png" alt="css icon" title="MongoDb">
                            <img class="expand-on-hover" src="../img/Technologies/mysql.png" alt="css icon" title="MySql">
                            <img class="expand-on-hover" src="../img/Technologies/net_icon.png" alt="css icon" title="dotNet">
                            <img class="expand-on-hover" src="../img/Technologies/nodejs.png" alt="css icon" title="Nodejs">
                            <img class="expand-on-hover" src="../img/Technologies/python.png" alt="css icon" title="Python">
                            <img class="expand-on-hover" src="../img/Technologies/reaact.png" alt="css icon" title="React"></div>
                    </div>

                    <div class="nine columns my-color-4 my-h4 my-border-2">

                        <div class="row my-dflex my-justify-around my-align-center">
                            <img class="about-me-img my-border-2" src="../img/thefam.png" alt="the tbo family">

                            <div class="my-width-50">
                                <h4>About Me</h4>
                                <p>A bit about me, I grew up in Cashmere WA, the youngest of 3 children. When I was a child my family moved over to Indonesia to work as teachers at an international school there. Living there for 3 years layed some fundamentals of who I am today. For instance, my willingness to travel and explore the world as well as my intercultural understanding.
                                </p>
                                <a class="button my-border-1" href="../templates/aboutMe.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- education  -->
            <div class="education">
                <div class="row subtitle" id="education">
                    <h3>Education</h3>
                </div>

                <!-- screen small -->
                <div class="row my-size-sm">
                    <div class="row">
                        <div class="schools my-dflex">
                            <a class="six columns" href="https://www.codingdojo.com/" target="_blank">
                                <img class="fit-img expand-on-hover my-border-2" src="../img/Education/CodingDojo.png" alt="coding dojo logo"></a>
                            <a class="six columns" href="https://www.washington.edu/" target="_blank">
                                <img class="fit-img expand-on-hover my-border-2" src="../img/Education/UW.jpg" alt="University of Washington Logo"></a>
                        </div>
                        <div class="schools my-dflex">
                            <a class="six columns" href="https://www.corban.edu/" target="_blank">
                                <img class="fit-img expand-on-hover my-border-2" src="../img/Education/Corban.jpg" alt="Corban University Logo"></a>
                            <a class="six columns" href="https://www.uph.edu/" target="_blank">
                                <img class="fit-img expand-on-hover my-border-2" src="../img/Education/Logo_UPH.gif" alt="Universitas Pelita Harapan Logo"></a>
                        </div>
                    </div>
                </div>

                <!-- screen med & lrg -->
                <div class="row my-size-md my-size-lg">
                    <div class="row">
                        <a class="three columns my-h3" href="https://www.codingdojo.com/" target="_blank">
                            <img class="fit-img expand-on-hover my-border-2" src="../img/Education/CodingDojo.png" alt="coding dojo logo"></a>
                        <a class="three columns my-h3" href="https://www.washington.edu/" target="_blank">
                            <img class="fit-img expand-on-hover my-border-2" src="../img/Education/UW.jpg" alt="University of Washington Logo"></a>
                        <a class="three columns my-h3" href="https://www.corban.edu/" target="_blank">
                            <img class="fit-img expand-on-hover my-border-2 corban-img" src="../img/Education/Corban.jpg" alt="Corban University Logo"></a>
                        <a class="three columns my-h3" href="https://www.uph.edu/" target="_blank">
                            <img class="fit-img expand-on-hover my-border-2" src="../img/Education/Logo_UPH.gif" alt="Universitas Pelita Harapan Logo"></a>
                    </div>
                </div>
            </div>

            <!-- Projects -->
            <div class="projects">
                <div class="row subtitle" id="projects">
                    <h3>Projects</h3>
                </div>

                <!-- screen small -->
                <div class="row my-size-sm">
                    <div
                        class="my-color-2 my-dflex-col my-align-center">

                        <!-- Journey Journal -->
                        <div class="card project-box my-color-white my-mtb-3">
                            <div class="my-dflex-col my-align-center">
                                <h4>Journey Journal</h4>
                                <p>
                                    Sometimes it is so hard to keep track of where you have come from while you are in the middle of it. Journey Journal will keep track of where you have been so that you can see where you are going. Helping you keep the big picture in mind.
                                </p>
                                <a class="button disabled" href="#">Learn More</a>
                            </div>
                        </div>

                        <!-- COACH -->
                        <div class="card project-box my-color-white my-mtb-3">
                            <div class="my-dflex-col my-align-center">
                                <h4>COACH</h4>
                                <p>
                                    Need suport to keep motivated to stay healthy? With COACH you can use your friends and family to meet this need. With the idea of a race in mind, you can compete with those around you in order to keep track of your eating, sleeping, exersice, and water intake.
                                </p>
                            </div>
                            <a class="button disabled" href="#">Learn More</a>
                        </div>

                        <!-- TAZKR -->
                        <div class="card project-box my-color-white my-mtb-3">
                            <div class="my-dflex-col my-align-center">
                                <h4>TAZKR</h4>
                                <p>
                                    A Trello style project manager that is designed to help keep track of what tasks in a project are active and what tasks are completed. As well as where the tasks are along the way.
                                </p>
                            </div>
                            <a class="button" href="../templates/Tazkr.html">Learn More</a>
                        </div>

                        <!-- Mood Tunes -->
                        <div class="card project-box my-color-white my-mtb-3">
                            <div class="my-dflex-col my-align-center">
                                <h4>Mood Tunes</h4>
                                <p>Mood Tunes was designed to be a fully front-end application. The Idea is the user would put in their mood and how much time they had to listen to a playlist and Mood Tunes would generate a playlist to fit their needs.</p>
                            </div>
                            <a class="button" href="../templates/MoodTunes.html">Learn More</a>
                        </div>
                        <div class="card project-box my-color-white my-mtb-3">
                            <div class="my-dflex-col my-align-center">
                                <h4>Klaxon Kitchen</h4>
                                <p>Klaxon Kitchen was developed for a client over in Indonesia who runs a food court. They needed a system to display orders and their status to the customers in the waiting area.
                                </p>
                            </div>
                            <a class="button" href="../templates/klaxonKitchen.html">Learn More</a>
                        </div>
                    </div>
                </div>

                <!-- screen med & large -->
                <div class="row my-size-md my-size-lg">
                    <div class="my-color-2 my-dflex my-justify-evenly my-wrap">
                        <div class="card my-width-25 my-inline-block project-box my-color-white my-m-3 my-dflex-col my-justify-between">
                            <div class="my-dflex-col">
                                <h4>Journey Journal</h4>
                                <p>
                                    Sometimes it is so hard to keep track of where you have come from while you are in the middle of it. Journey Journal will keep track of where you have been so that you can see where you are going. Helping you keep the big picture in mind.
                                </p>
                            </div>
                            <a class="button disabled" href="#">Learn More</a>
                        </div>
                        <div class="card my-width-25 my-inline-block project-box my-color-white my-m-3 my-dflex-col my-justify-between">
                            <div class="my-dflex-col">
                                <h4>COACH</h4>
                                <p>
                                    Need suport to keep motivated to stay healthy? With COACH you can use your friends and family to meet this need. With the idea of a race in mind, you can compete with those around you in order to keep track of your eating, sleeping, exersice, and water intake.
                                </p>
                            </div>
                            <a class="button disabled" href="#">Learn More</a>
                        </div>
                        <div class="card my-width-25 my-inline-block project-box my-color-white my-m-3 my-dflex-col my-justify-between">
                            <div class="my-dflex-col">
                                <h4>TAZKR</h4>
                                <p>
                                    A Trello style project manager that is designed to help keep track of what tasks in a project are active and what tasks are completed. As well as where the tasks are along the way.
                                </p>
                            </div>
                            <a class="button" href="../templates/Tazkr.html">Learn More</a>
                        </div>
                        <div class="card my-width-25 my-inline-block project-box my-color-white my-m-3 my-dflex-col my-justify-between">
                            <div class="my-dflex-col">
                                <h4>Mood Tunes</h4>
                                <p>Mood Tunes was designed to be a fully front-end application. The Idea is the user would put in their mood and how much time they had to listen to a playlist and Mood Tunes would generate a playlist to fit their needs.</p>
                            </div>
                            <a class="button" href="../templates/MoodTunes.html">Learn More</a>
                        </div>
                        <div class="card my-width-25 my-inline-block project-box my-color-white my-m-3 my-dflex-col my-justify-between">
                            <div class="my-dflex-col">
                                <h4>Klaxon Kitchen</h4>
                                <p>Klaxon Kitchen was developed for a client over in Indonesia who runs a food court. They needed a system to display orders and their status to the customers in the waiting area.
                                </p>
                            </div>
                            <a class="button" href="../templates/klaxonKitchen.html">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
